.App{
  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items:center;
}
.controls{
  width:40vw ;
}
.box{
  text-align: center;
  padding: 20vh 0px 0px;
  width: 40vw;
  height: 50vh;
  background-color: blueviolet;
  color: white;
}



